<!-- header section starts -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container px-lg-5">
		<a class="navbar-brand" routerLink="/home">La Clínica</a>
		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			<li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
			<li class="nav-item"><a class="nav-link" *ngIf="isNotSpec()" routerLink="/new-appointment">New Appointment</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/appointments">Appointments</a></li>
			<li class="nav-item"><a class="nav-link" *ngIf="isAdmin()" routerLink="/users">Users</a></li>
			<li class="nav-item"><a class="nav-link" role="button" (click)="accountClick()">Account</a></li>
		</ul>
	</div>
</nav>
<!-- end header section -->

<router-outlet></router-outlet>