<div class="main min-vh-100 text-center bg-custom-gradient">
	<form [formGroup]="loginForm" class="form-signin bg-light bg-opacity-50 rounded" (ngSubmit)="signIn()">
		<h1 class="h3 mb-3 font-weight-normal">Member Login</h1>

		<div class="quick-access mb-2" *ngIf="users.length > 0">
			<app-user-btn-list [userList]="users" (btnPressed)="quickFill($event)" [config]="usrBtnListConfig">
			</app-user-btn-list>
		</div>

		<input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email"
			name="email" required>
		<div class="bg-danger bg-opacity-50 m-auto w-75"
			*ngIf="loginForm.controls['email'].errors !== null && loginForm.controls['email'].touched">
			<small *ngIf="loginForm.controls['email'].errors!['required']">
				Email is required.
			</small>
			<small *ngIf="loginForm.controls['email'].errors!['email']">
				Email is invalid.
			</small>
		</div>

		<input type="password" id="inputPassword" class="form-control mb-0" placeholder="Password"
			formControlName="password" name="current-password" required>
		<div class="bg-danger bg-opacity-50 m-auto w-75"
			*ngIf="loginForm.controls['password'].errors !== null && loginForm.controls['password'].touched">
			<small *ngIf="loginForm.controls['password'].errors!['required']">
				Password is required.
			</small>
		</div>

		<button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="loginForm.invalid" type="submit">Sign
			in</button>

		<a class="nav nav-link active text-decoration-underline" routerLink="/signup">Create your Account</a>
	</form>
</div>