<h2 class="text-center mt-5">Users</h2>
<div class="container d-flex justify-content-center">
	<table class="table table-striped align-middle mb-0 bg-white table-hover w-75">
		<thead class="bg-light">
			<tr>
				<th>User</th>
				<th class="text-center">Role</th>
				<th class="text-center">Pers. ID</th>
				<th class="text-center">Spec</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td class="col-md-2">
					<div class="d-flex align-items-center">
						<div class="ms-3">
							<p class="fw-bold mb-0">{{user.firstName}} {{user.lastName}}, {{user.age}}</p>
							<p class="text-muted mb-0">{{user.email}}</p>
						</div>
					</div>
				</td>
				<td class="col-md-1 text-center">
					<div class="ms-3" [ngSwitch]="user.role">
						<span class="badge rounded-pill bg-success" *ngSwitchCase="'admin'">{{user.role | uppercase}}</span>
						<span class="badge rounded-pill bg-danger" *ngSwitchCase="'patient'">{{user.role | uppercase}}</span>
						<span class="badge rounded-pill bg-warning" role="button" *ngSwitchCase="'specialist'"
							(click)="showSpecs(parseSpecialist(user))">{{user.role | uppercase}}</span>
					</div>
				</td>
				<td class="col-md-1 text-center">
					<div class="ms-3">
						<p class="fw-normal mb-0">{{user.idNo}}</p>
					</div>
				</td>
				<td class="col-md-1 text-center">
					<div class="ms-3">
						<button class="btn btn-primary fw-normal mb-0" *ngIf="user.role === 'specialist'"
							(click)="toggleEnable(parseSpecialist(user))">
							{{(parseSpecialist(user))!.isEnabled ? 'Disable' : 'Enable'}}
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div *ngIf="!creatingUser" class="new-user d-flex justify-content-center">
	<hr class="my-2">
	<span class="nav nav-link active text-decoration-underline mx-5" role="button" (click)="creatingUser = true">
		Create new Account
	</span>
</div>
<div class="newUser" *ngIf="creatingUser">
	<div class="new-user d-flex justify-content-center">
		<hr class="my-2">
		<span class="nav nav-link active text-decoration-underline mx-5" role="button" (click)="creatingUser = false">
			Cancel
		</span>
	</div>

	<app-new-account-template (createdUser)="newAccount($event)"></app-new-account-template>
</div>