.list-group-item:hover {
	cursor: pointer;
	z-index: 1;
  color: var(--bs-list-group-action-hover-color);
  text-decoration: none;
  background-color: var(--bs-list-group-action-hover-bg);
}

.bg-custom-gradient {
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgb(206, 70, 252) 0%, rgb(63, 251, 213) 100%);
}

/* TOGGLE SWITCH */
.switch {
	position: relative;
	display: inline-block;
	margin: 0 5px;
}

.switch>span {
	position: absolute;
	top: 9px;
	pointer-events: none;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
	width: 50%;
	text-align: center;
}

input.check-toggle-round-flat:checked~.off {
	color: #F36F25;
	opacity: 100%;
	transition: margin 0.2s;
}

input.check-toggle-round-flat:checked~.on {
	color: #fff;
	opacity: 0;
	transition: margin 0.2s;
}

.switch>span.on {
	left: 0;
	padding-left: 2px;
	color: #F36F25;
	opacity: 100%;
	transition: margin 0.2s;
}

.switch>span.off {
	right: 0;
	padding-right: 4px;
	color: #fff;
	opacity: 0;
	transition: margin 0.2s;
}

.check-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.check-toggle+label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.check-toggle-round-flat+label {
	padding: 2px;
	width: 194px;
	height: 35px;
	background-color: #F36F25;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
	display: block;
	position: absolute;
	content: "";
}

input.check-toggle-round-flat+label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #F36F25;

	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 97px;
	background-color: #fff;
	-webkit-border-radius: 52px;
	-moz-border-radius: 52px;
	-ms-border-radius: 52px;
	-o-border-radius: 52px;
	border-radius: 52px;
	-webkit-transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	-o-transition: margin 0.2s;
	transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
	margin-left: 88px;
}

/* Image input */
input[type="file"] {
	display: none;
}

.custom-file-label {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.w-84 {
	width: 84% !important;
}